<!DOCTYPE html>
<html>
  <head>
    {% include html/head.html %}

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->
  </head>

  {% assign page_path_exploded = page.url | remove_first: '/' | split:'/' %}

  <body class="has-loading-state layout-{{ page.layout }} {% if page.url == '/index.html' %} front {% endif %} {{ page_path_exploded | join: '-' }}">
    <div class="grid"></div>

    {{ content }}

    {% if page_path_exploded[0] == 'cases' %}
      {% include overview/cases.html %}
      <!-- build:js(app) /js/cases.js -->
      <script src="/js/cases.js"></script>
      <!-- endbuild -->
    {% endif %}

    <!-- build:js(app) /js/scripts.js -->
    <script src="/js/imageparallax.jquery.js"></script>
    <script src="/js/grid.js"></script>
    <script src="/js/imageparallax.js"></script>
    <!-- endbuild -->

    {% if page.url == '/over-ons/' %}
      <!-- build:js(app) /js/teamwidget.js -->
      <script src="/js/teamwidget.js"></script>
      <!-- endbuild -->
    {% endif %}

  <div class="pagefooter">
    {% include html/footer.html %}
  </div>

  </body>
</html>
