<!DOCTYPE html>
<html>
  <head>
  {% include html/head.html %}

  <!-- build:css({app,.tmp}) /css/main.css -->
  <link rel="stylesheet" href="/css/main.css">
  <!-- endbuild -->
  </head>

  {% assign page_path_exploded = page.url | remove_first: '/' | split:'/' %}

  {% assign count = page_path_exploded | size %}

  <body class="{% unless page_path_exploded[0] == 'cases' and count > 1 %} has-loading-state {% endunless %}
  {% if page_path_exploded[0] == 'cases' and count > 1 %} has-case-loading-state case-full-transition {% endif %}
  layout-{{ page.layout }} {% if page.url == '/index.html' %} front {% endif %} {{ page_path_exploded | join: '-' }}">
  <!-- build:dist:remove -->
  <div class="grid"></div>
  <script src="/js/grid.js"></script>
  <!-- endbuild -->

  {% if count < 2 %}
    {% include html/menubutton.html %}
  {% endif %}


  <div class="wrapper">
    {{ content }}

    <footer class="pagefooter">
      {% include html/footer.html %}
    </footer>
  </div>

  <!-- build:js(app) /js/scripts.js -->
  <script src="/js/imageparallax.jquery.js"></script>
  <script src="/js/imageparallax.js"></script>
  <script src="/js/teamwidget.js"></script>
  <!-- endbuild -->

  </body>
</html>
