---
layout: html
---
<header class="pageheader">
  {% include html/menubutton.html %}
  <div class="pageheader-inner">
    <h1 class="pageheader-title">{{ page.title }}</h1>

    <a href="/" class="logo-link">
      {% include misc/logo.svg %}
    </a>


    {% include misc/close.html %}
  </div>
</header>
<div class="pagewrapper">

  {% if page.introduction %}
    <div class="page-introduction">
      {{ page.introduction }}
    </div>
  {% endif %}

  <h2 class="page-title">{{ page.title }}</h2>

  {% if page.header %}
    <div class="page-header">
      {% picture header {{ page.header }} %}
    </div>
  {% endif %}

  <div class="page-body">
    {{ content }}
  </div>
</div>
