.over-ons {
  .teamwidget {
    margin: 120px auto;
    @include isolation-span(6, 5, 'both');
    position: relative;

    &:after {
      content: '';
      padding-bottom: 100%;
      float: left;
    }
  }

  .teamwidget-controls {
    clear: both;
    float: left;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    background: white;
    z-index: 40;
    transition: all $speed-fast;
  }

  .teamwidget-controls-inner {
    padding: 20px 0;
    @include clearfix;

    .select-wrapper:nth-child(1) {
      @include isolation-span(3, 5);
    }

    .select-wrapper:nth-child(2) {
      @include isolation-span(3, 8);
    }
  }
}

.is-above-teamwidget {
  .teamwidget-controls {
    position: fixed;
    transform: translateY(100%);
  }

  .convinceblock {
    margin-top: 81px;
  }
}

.has-visible-teamwidget {
  .teamwidget-controls {
    position: fixed;
    transform: translateY(0%);
    background: $yellow;
  }

  .convinceblock {
    margin-top: 81px;
  }
}
.convince-title {
   @include isolation-span(8, 3, 'both', 8);
}
