.over-ons {
  .teamwidget-wrapper {
    position: relative;
    overflow: hidden;
    @include isolation-span(14, 1, 'both');
    @include clearfix;
  }

  .teamwidget {
    @include isolation-span(8, 4, 'both');

    @include breakpoint($bp-large) {
      @include isolation-span(5, 4, 'both');
    }

    margin: 120px auto;
    position: relative;

    &:after {
      content: '';
      padding-bottom: 100%;
      float: left;
    }
  }

  .teamwidget-controls {
    @include isolation-span(10, 3, 'both');

    @include breakpoint($bp-large) {
      margin-top: 97px;
      @include isolation-span(3, 11);
    }

  }
}

// .is-above-teamwidget {
//   .teamwidget-controls {
//     position: fixed;
//     transform: translateY(100%);
//   }

//   .convinceblock {
//     margin-top: 81px;
//   }
// }

// .has-visible-teamwidget {
//   .teamwidget-controls {
//     position: fixed;
//     transform: translateY(0%);
//     background: $yellow;
//   }

//   .convinceblock {
//     margin-top: 81px;
//   }
// }
//

