.case.full {
  .case-overview-link,
  .case-title,
  .case-body {
    @include grid-span(12, 2);
    clear: both;
  }

  .case-introduction {
    @include grid-span(8, 4);
    clear: both;
    padding-bottom: 15px;
    border-bottom: 1px solid $yellow;
    margin-bottom: 30px;
  }

  .case-header {
    @include grid-span(14, 1);
    clear: both;
  }
}
