.casesoverview {
  @include isolation-span(12, 2, 'both');
  @include clearfix;
  margin-top: 40px;
  margin-bottom: 40px;

  .case-teaser {
    &:nth-of-type(odd) {
      @include isolation-span(6, 1, 'left', $grid: 12);
    }

    &:nth-of-type(even) {
      @include isolation-span(6, 7, 'right', $grid: 12);
    }
  }
}

.case-spacer {
  display: none;
  width: gutter-span() * 1.5;
  position: relative;
  float: left;
  clear: both;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
    float: left;
  }

  &:nth-of-type(even) {
    display: block;
  }
}

.layout-page.cases.has-loading-state {
  overflow: hidden;
  margin-bottom: 100vh;

  .case-teaser.active {
    width: 100%;
    z-index: 99999;

    picture img {
      transform: translateX(0);
    }

    .cast-teaser-title,
    .cast-teaser-button,
    .cast-teaser-categories,
    &:after, &:before {
      opacity: 0;
    }
  }
}
