.contact-form {
  input, textarea {
    width: 100%;
  }

  .error-message {
    max-height: 0;
    float: left;
    overflow: hidden;
  }
  // .form-title {
  //   @include isolation-span(8, 4, 'both');
  // }

  // label {
  //   @include isolation-span(3, 1, 'left', 8);
  // }

  // input, textarea {
  //   @include isolation-span(5, 4, 'right', 8);
  // }

  // .form-item {
  //   @include isolation-span(8, 4, 'both');
  // }
}
