@include add-grid(4 1 1 1 1 1 1 1 1 1 1 1 1 4);
@include add-gutter(1 / 3);
@include sgs-change('output', 'isolation');
@include sgs-change('debug', true);

.grid {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  @include background-grid($color: blue);
  opacity: 0;
  transition: opacity $speed-fast $ease-in-out;
}

.has-grid-overlay-enabled {
  .grid {
    opacity: .3;
  }
}
