.closebutton,
.pageheader-title,
.pagewrapper {
  opacity: 1;
  transition: all $speed-slow $ease-in-out;
}

.has-loading-state {
  .closebutton,
  .pageheader-title,
  .pagewrapper {
    opacity: 0;
  }
}
