.front {
  .frontpage-item-title,
  .frontpage-item-background {
    opacity: 1;
  }

  &.has-loading-state {
    .frontpage-item-title,
    .frontpage-item-background {
      opacity: 0 !important;
    }

    .frontpage-item-inner {
      box-shadow: 0 0 3px -1px rgba($black, 0) !important;
    }
  }
}

body {
  overflow-x: hidden;

  .pageheader-title,
  .pagewrapper {
    transition: opacity $speed-medium $ease-in $speed-medium;
    opacity: 1;
  }

  &.has-loading-state {
    .pageheader-title,
    .pagewrapper {
      opacity: 0 !important;
    }
  }
}
