.layout-page {
  .page-introduction {
    @include isolation-span(8, 4, 'both');
    padding-bottom: 15px;
    border-bottom: 1px solid $yellow;
    margin-bottom: 30px;
  }

  .page-title {
    @include isolation-span(9, 3, 'both');
  }

  .page-header {
    @include isolation-span(12, 2, 'both');
  }
}
