.button {
  font-size: 22px;
  background: none;
  border: 1px solid $black;
  color: $black;
  width: auto;
  text-align: center;
  padding: 20px;
  display: inline-block;
  vertical-align: middle;
}
