.case-teaser {
  position: relative;
  background-size: cover;
  min-height: 300px;
  padding: 25px 30px;
  overflow: hidden;
  transition: all $speed-slow $ease-in-out;

  picture {
    transition: all $speed-slow $ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;

    img {
      transition: all $speed-slow $ease-in-out;
      height: 100%;
      width: auto;
      transform: translateX(-50%);
    }
  }

  .cast-teaser-title {
    color: $white;
    font-weight: 600;
    font-size: 30px;
    position: absolute;
    bottom: 80px;
    z-index: 2;
  }

  .cast-teaser-categories {
    position: absolute;
    bottom: 25px;
    background-image: url('../img/icons/tag.svg');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 70px;
    display: inline-block;
    width: 100%;
    color: $yellow;
    white-space: nowrap;
    overflow: hidden;
    z-index: 2;

    .cast-teaser-categories-item {
      color: $yellow;
      display: inline-block;
      line-height: 45px;
      font-size: 18px;
      font-weight: 300;

      + .cast-teaser-categories-item {
        margin-left: 20px;
      }
    }
  }

  .cast-teaser-button {
    opacity: 0;
    display: block;
    position: absolute;
    transition: opacity $speed-medium;
    font-weight: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $yellow;
    padding: 7px 15px;
    color: $yellow;
    z-index: 100;
  }

  &:before, 
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  &:before {
    background: linear-gradient(rgba($black, 0), rgba($black, 0) 40%, rgba($black, .6) 100%);
  }

  &:after {
    opacity: 0;
    transition: opacity $speed-medium;
    background-color: rgba($black, .6);
    z-index: 10;
  }
  
  &:hover {
    .cast-teaser-button, 
    &:after {
      opacity: 1;
    }
  }
}