.categories {
    position: relative;

    .categories-item {
        color: $yellow;
        display: block;
        float: left;

        + .categories-item {
            margin-left: 20px;
        }
    }
}