.circlebutton {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 10px solid $yellow;

    &.circlebutton-1 {
        border-top-color: $black;
    }
    &.circlebutton-2 {
        border-left-color: $black;
    }
    &.circlebutton-3 {
        border-right-color: $black;
    }
    &.circlebutton-4 {
        border-bottom-color: $black;
    }
}