.contact-form {
  font-weight: 200;
  padding-bottom: 30px;
  @include clearfix;

  .form-title {
    margin-bottom: 30px;
  }

  label {
    display: none;
  }

  .error-message {
    font-size: 14px;
  }
}
