$footer-font-size: 16px;
$footer-svg-multiplier: 2;

.pagefooter {
  color: $black;
  background-color: $white-grey;
  padding: 0 0 50px;
  font-size: $footer-font-size;
  font-weight: 300;

  #logo {
    height: 50px;
    margin-top: 22px;

    path {
      fill: $black;
    }
  }

  h2 {
    font-size: 34px;
    color: $dark-grey;
  }

  h3 {
    color: $yellow;
    font-weight: 300;
  }

  .form-title {
    color: $yellow !important;
  }

  a {
    transition: color $speed-fast $ease-out 0s;
    display: block;

    &:link,
    &:visited {
      color: $black;
    }

    &:hover,
    &:active,
    &:focus {
      color: $dark-grey;

      svg {
        * {
          fill: $dark-grey;
        }
      }
    }
  }

  .scroll-to-top {
    margin-top: 20px;
    @include isolation-span(1, 13);
  }

  .right svg {
    width: #{$footer-svg-multiplier}em;
    height: #{$footer-svg-multiplier}em;
    vertical-align: middle;
    transform: translateY(-0.14em);
    display: inline-block;
    margin-right: .4em;

    * {
      fill: $black;
      transition: fill $speed-fast $ease-out 0s;
    }
  }
}
