input {
  border: 1px solid $light-grey;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
textarea {
  border: none;
  border-bottom: 1px solid $yellow;
  padding: 14px 0;
  background: 0;
  font-family: $default-font-stack;
  font-weight: 600;

  &:invalid {
    border-bottom: 1px solid red;
    box-shadow: none;
  }
}


textarea {
  resize:none;
}

@include placeholder {
  color: $black;
  font-family: $default-font-stack;
  font-weight: 300;
}


.form-item {
  margin-bottom: 10px;

  label {
    font-weight: 500;
    color: $yellow;
  }
}
