.frontpage {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &:before, &:after {
    content: '';
    display: block;
    background-color: $white;
    pointer-events: none;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 84px;
    height: 84px;
    z-index: 100000;
    transform: translate(-50%, -50%);
  }

  &:before {
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: 30px solid $yellow-alpha;
    transition: border-color $speed-slow $ease-out;
  }

  &.active-1:before {
    border-top-color: $yellow-dark;
  }

  &.active-2:before {
    border-left-color: $yellow-dark;
  }

  &.active-3:before {
    border-right-color: $yellow-dark;
  }

  &.active-4:before {
    border-bottom-color: $yellow-dark;
  }
}

.frontpage-item {
  .frontpage-item-title {
    position: absolute;
    font-family: 'Aktiv Grotesk', sans-serif;
    font-weight: 500;
    font-size: 28px;
    pointer-events: none;
    z-index: 100000;
    transition: color $speed-fast, text-shadow $speed-fast, opacity $speed-fast;
    text-shadow: 0px 1px 4px rgba($black, 0);
  }

  .frontpage-item-subtitle {
    position: absolute;
    font-family: 'Aktiv Grotesk', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    pointer-events: none;
    z-index: 100000;
    transition: color $speed-fast, text-shadow $speed-fast, opacity $speed-fast;
    text-shadow: 0px 1px 4px rgba($black, 0);
  }

  .frontpage-item-inner {
    position: absolute;
    transition: box-shadow $speed-fast;
  }

  &:nth-child(2), &:nth-child(3) {
    .frontpage-item-inner {
      top: 0;
      bottom: 0;
    }

    .frontpage-item-link-inner {
      width: 100%;
      height: 100%;
    }

    .frontpage-item-background {
      left: -20px;
      top: -20px;
      bottom: -20px;
    }
  }

  &:nth-child(1) {
    .frontpage-item-title {
      margin-bottom: 200px;
      bottom: 50%;
      left: 50%;
      transform: translateX(-50%);
    }

    .frontpage-item-subtitle {
      max-width: 13%;
      text-align: center;
      margin-bottom: 140px;
      bottom: 50%;
      left: 50%;
      transform: translateX(-50%);
    }

    .frontpage-item-inner {
      left: 50%;
      top: 0;
      z-index: 10000;
    }

    .frontpage-item-background {
      background-position: center bottom;
    }
  }

  &:nth-child(2) {
    .frontpage-item-title {
      right: 50%;
      top: 50%;
      margin-right: 150px;
      text-align: right;
      transform: translateY(-50%);
    }

    .frontpage-item-subtitle {
      max-width: 20%;
      text-align: right;
      margin-right: 150px;
      margin-top: 50px;
      right: 50%;
      top: 50%;
      transform: translateY(-50%);
    }


    .frontpage-item-inner {
      left: 0;
      right: 50%;
    }

    .frontpage-item-background {
      background-position: right center;
    }
  }

  &:nth-child(3) {
    .frontpage-item-title {
      margin-left: 150px;
      left: 50%;
      top: 50%;
      transform: translateY(-50%);
    }

    .frontpage-item-subtitle {
      max-width: 20%;
      text-align: left;
      margin-left: 150px;
      margin-top: 50px;
      left: 50%;
      top: 50%;
      transform: translateY(-50%);
    }

    .frontpage-item-inner {
      left: 50%;
      right: 0;
    }

    .frontpage-item-background {
      background-position: left center;
    }
  }

  &:nth-child(4) {
    .frontpage-item-title {
      margin-top: 150px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
    }

    .frontpage-item-subtitle {
      margin-top: 200px;
      max-width: 13%;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
    }

    .frontpage-item-inner {
      left: 50%;
      top: 100%;
    }

    .frontpage-item-background {
      background-position: center top;
    }
  }

  &:nth-child(1) .frontpage-item-inner, &:nth-child(4) .frontpage-item-inner {
    box-shadow: 0 0 3px -1px rgba($black, 1);
    width: 70.710678118vh;
    height: 70.710678118vh;
    transform: translate(-50%, -50%) rotate(-45deg);

    .frontpage-item-link-inner {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 142%;
      height: 142%;
    }
  }

  .frontpage-item-link {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    overflow: hidden;
    background-color: $white;

    .frontpage-item-link-inner {
      position: absolute;
      overflow: hidden;

      .frontpage-item-background {
        opacity: 0;
        transition: opacity $speed-medium $ease-in-out;
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
        position: absolute;
        transform-style: preserve-3d;
        transform:translate3d(0,0,0);
      }
    }
  }

  @for $i from 1 to 5 {
    &:nth-child(#{$i}) {
      .frontpage-item-link .frontpage-item-link-inner .frontpage-item-background {
        background-size: cover;
        background-image: url('../img/menu/#{$i}.jpg');
      }
    }
  }
}

body:not(.has-loading-state) .frontpage-item {
  &:hover {
    .frontpage-item-link-inner {
      .frontpage-item-background {
        opacity: 1;
      }
    }
    .frontpage-item-title, .frontpage-item-subtitle {
      color: $white;
      text-shadow: 0px 1px 4px rgba($black, 1);
    }
    .frontpage-item-inner:after {
      opacity: 1;
    }
  }
  .frontpage-item-inner:after {
    content: '';
    opacity: 0;
    transition: opacity $speed-medium;
    display: block;
    background-image: url('../img/grid4x4@2x.png');
    background-size: 4px 4px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }
}

.frontpage-item-title {
  svg {
    width: 100%;
    position: relative;
    height: 60px;
    margin-bottom: 4px;
    transition: fill $speed-fast $ease-in-out;
  }
}

.frontpage-item:hover svg {
  fill: white;
}
