.image {
  margin-top: 40px;
  margin-bottom: 40px;

  img {
  width: 100%;
  display: block;
  }

  .image-caption {
    border-top: 1px solid $light-grey;
    color: $dark-grey;
    margin-top: 1em;
    padding-top: .5em;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .3px;
    font-weight: 300;
  }


  &.image--frame {
    overflow: hidden;
    position: relative;
    border-radius: 8px 8px 0 0;

    &:before {
      width: 100%;
      content: url('/img/frame.svg');
      display: block;
      margin-bottom: -8px;
    }
  }

  &.image--scroll {
    .image-inner {
      height: 400px;
      overflow: hidden;
    }
  }
}
