$margin-right: grid-span(1, 14);

.menubutton {
  display: block;
  height: 40px;
  border-radius: 50%;
  border: 8px solid $yellow-alpha;
  border-color: $yellow-alpha;
  float: right;
  // margin-right: 20px;
  width: 40px;
  transform: translate(0vw, 0vh) translate(-20px, 20px) scale(1);
  transition: transform $speed-medium $ease-in-out;

  &.menubutton-1 {
    border-top-color: $yellow-dark;
  }

  &.menubutton-2 {
    border-left-color: $yellow-dark;
  }

  &.menubutton-3 {
    border-right-color: $yellow-dark;
  }

  &.menubutton-4 {
    border-bottom-color: $yellow-dark;
  }
}

.has-loading-state {
  .menubutton {
    // transform: translate(- (50vw - (($margin-right + grid-span(6, 1)) / 1%)), 50vh) translate(-50%, -50%) scale(3.50);
    transform: translate(-50vw, 50vh) translate(-50%, -50%) scale(3.50);
  }
}
