$margin-right: grid-span(1, 14);

.menubutton {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100000001;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 8px solid $yellow-alpha;
  transform: translate(0vw, 0vh) translate(-20px, 20px) scale(1);
  transition: transform $speed-medium $ease-in-out, border-color $speed-fast $ease-in-out;

  &.menubutton-1 {
    border-top-color: $yellow-dark;
  }

  &.menubutton-2 {
    border-left-color: $yellow-dark;
  }

  &.menubutton-3 {
    border-right-color: $yellow-dark;
  }

  &.menubutton-4 {
    border-bottom-color: $yellow-dark;
  }

  &:hover {
    border-color: $yellow-alpha !important;
  }
}

.has-loading-state {
  .menubutton {
    transform: translate(-50vw, 50vh) translate(50%, -50%) scale(3.50);
  }
}

.menubutton--active {
  border-color: $yellow !important;
}
