.menubutton {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 8px solid $yellow;
  border-color: $yellow;
  float: left;
  transform: translate(0vw, 0vh) translate(0, 0) scale(1);
  transition: transform $speed-slow $ease-in-out, border-color $speed-slow $ease-in-out;

  &.menubutton-1 {
    border-top-color: $black;
  }
  &.menubutton-2 {
    border-left-color: $black;
  }
  &.menubutton-3 {
    border-right-color: $black;
  }
  &.menubutton-4 {
    border-bottom-color: $black;
  }
}

.has-loading-state {
  .menubutton {
    border-color: $yellow-alpha;
    transform: translate(50vw, 50vh) translate(-50%, -50%) scale(3.25);
  }
}
