.page-body {
  > p {
    font-weight: 200;
    font-size: 22px;
    line-height: 32px;
  }

  > hr {
    border: 0;
    background-color: $yellow;
    height: 1px;
  }

  > p,
  > hr,
  > blockquote,
  > .highlight,
  > .categories {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
