.pageheader {
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  background: $white;
  z-index: 100000000;
  transition: box-shadow $speed-fast $ease-in-out, transform $speed-fast $ease-in-out, opacity $speed-fast $ease-in-out;
  box-shadow: 0 2px 6px rgba($black, 0);
  transform: translateY(0);

  #logo {
    height: 40px;
  }

  .pageheader-inner {
    @include isolation-span(12, 2, 'left');
  }

  .logo-link {
    float: left;
    margin-top: 18px;
    transition: all $speed-fast $ease-in-out;
    @include isolation-span(2, 1, 'right', 12);
  }

  .pageheader-title {
    @include isolation-span(6, 4, 'right', 12);
    font-size: 30px;
    margin-top: 26px;
    pointer-events: none;
    white-space: nowrap;
    font-weight: 200;
    color: $dark-grey;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    transition: opacity $speed-fast $ease-in-out, transform $speed-fast $ease-in-out;
    transform: translateY(50%);
    text-align: center;

    @include breakpoint($bp-medium) {
      text-align: left;
    }

    &.pageheader-title--shown {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 1px;
    background: rgba($light-grey, 1);
    transition: left $speed-fast $ease-in-out 0s,
                right $speed-fast $ease-in-out 0s,
                background-color $speed-medium $ease-out $speed-fast;
  }

  &.pageheader--scrolled {
    box-shadow: 0 2px 6px rgba($black, .1);

    &:after {
      left: 0;
      right: 0;
    }
  }
}

.has-loading-state {
  .pageheader:after {
    background: rgba($light-grey, 0);
    transition: left $speed-fast $ease-in-out 0s,
                right $speed-fast $ease-in-out 0s,
                background-color $speed-medium $ease-out 0s;
  }
}

.has-scrolled-to-contact {
  .pageheader {
    opacity: 0;
    transform: translateY(-100%);

    .logo-link {
      opacity: 0;
    }
  }
}

@include breakpoint($bp-small) {
  .pageheader {
    .pageheader-title {
      display: block;
    }
  }
}
@include breakpoint($bp-medium) {
  .pageheader {
    .pageheader-title {
      @include isolation-span(8, 3, 'right', 12);
    }
  }
}
