.pageheader {
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1000000;
  transition: box-shadow $speed-fast $ease-in-out; //, opacity $speed-slow $ease-in-out
  box-shadow: 0 2px 6px rgba($black, 0);

  #logo {
    height: 40px;
  }

  .pageheader-inner {
    @include isolation-span(12, 2, 'left');
  }

  .logo-link {
    float: left;
    margin-top: 18px;
    @include isolation-span(2, 1, 'right', 12);
  }

  .pageheader-title {
    display: block;
    @include isolation-span(8, 3, 'right', 12);
    margin-top: 26px;
    pointer-events: none;
    white-space: nowrap;
    font-weight: 200;
    font-size: 30px;
    color: $dark-grey;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 1px;
    background: rgba($light-grey, 1);
    transition: left $speed-fast $ease-in-out 0s,
                right $speed-fast $ease-in-out 0s,
                background-color $speed-medium $ease-out $speed-fast;
  }

  &.pageheader--scrolled {
    box-shadow: 0 2px 6px rgba($black, .1);

    &:after {
      left: 0;
      right: 0;
    }
  }
}

.has-loading-state {
  .pageheader:after {
    background: rgba($light-grey, 0);
    transition: left $speed-fast $ease-in-out 0s,
                right $speed-fast $ease-in-out 0s,
                background-color $speed-medium $ease-out 0s;
  }
}
