.page-introduction {
  // text-align: center;
  padding-bottom: 1em;
  border-bottom: 1px solid $yellow;
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 36px;
  letter-spacing: .3px;
  line-height: 50px;
  color: $yellow;
}
