.pageheader {
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1000000;
  transition: box-shadow $speed-fast $ease-in-out, opacity $speed-slow $ease-in-out;
  box-shadow: 0 2px 6px rgba($black, 0);

  &:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 1px;
    background: $light-grey;
    transition: left $speed-fast $ease-in-out, right $speed-fast $ease-in-out, background-color $speed-slow $ease-in-out;
  }
  .pageheader-title {
    display: block;
    position: absolute;
    top: 20px;
    padding: 0 40px 0 80px;
    pointer-events: none;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.pageheader-scrolled {
    box-shadow: 0 2px 6px rgba($black, .1);

    &:after {
      left: 0;
      right: 0;
    }
  }
}
.pagewrapper {
  margin-top: 150px;
}
.has-loading-state {
  .pageheader:after {
    background: white;
  }
}
