.teamwidget {
  margin: 0 auto;

  .axes {
    position: relative;
    width: 100%;
    height: 100%;

    // x-axis
    &:before {
      content: ' ';
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      left: 0;
      background: $yellow;
      z-index: 110;
    }

    // y-axis
    &:after {
      content: ' ';
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      background: $yellow;
      z-index: 120;

    }
  }

  .teamwidget-members {
    transform: translate(-4vmin, -4vmin); // fix for everything not being exactly on the right position (since the origin can't be the middle)
    position: relative;
    z-index: 130;
    width: 100%;
    height: 100%;

    // circle
    $circle-size: 2vmin;
    &:before {
      content: " ";
      display: block;
      border-radius: 50%;
      width: $circle-size;
      height: $circle-size;
      background: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) translate(4vmin, 4vmin);
      border: .75vmin solid $yellow;
    }
  }

  .teamwidget-member {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    cursor: pointer;
  }

  .teamwidget-member-info {
    display: none;
  }

  &.no-transitions .teamwidget-member {
    transition: none !important;
  }
}

.teamwidget-member {
  position: relative;

  &:hover {
    z-index: 200;
  }

  .teamwidget-member-icon-wrapper {
    display: block;

    > * {
      display: block;
      width: 8vmin !important;
      height: 8vmin !important;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      z-index: 50;
    }

    &:before {
      content: " ";
      background: $yellow;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0.95);
      z-index: 40;
    }

    &:hover:before {
      transform: translate(-50%, -50%) scale(1.15);
    }
  }

  .teamwidget-member-icon {
    width: 100%;
    height: 100%;
  }

  &.teamwidget-member-active {
    z-index: 300;

    .teamwidget-member-icon-wrapper {
      &:before {
        transform: translate(-50%, -50%) scale(1) !important;
        border-radius: 0%;
      }
    }
  }
}

body:not(.has-loading-state) {
  .teamwidget {
    .teamwidget-member {
      transition: transform $speed-slow $ease-in-out 0s;
    }
  }

  .teamwidget-member-icon-wrapper {
    > * {
      transition: width $speed-slow $ease-in-out 0s, height $speed-slow $ease-in-out 0s;
    }

    &:before {
      transition: transform $speed-fast ease-out 0s;
    }
  }
}
