.teamwidget-textwrapper {
  transition: all $speed-fast $ease-in-out;
  @include clearfix;
  float: left;


  .teamwidget-text {
    overflow: hidden;
    opacity: 0;
    margin-bottom: -100%;
    transition: opacity $speed-fast $ease-in-out, max-height $speed-fast $ease-in-out, margin $speed-fast $ease-in-out;
    float: left;
    width: 100%;
    max-height: 0;

    p {
      margin-top: 30px;
      margin-bottom: 50px;
    }

    .title {
      margin: 0 0 10px;
      font-size: 18px;
      font-weight: 500;
      width: 100%;
    }
  }

  .teamwidget-text--active {
    opacity: 1;
    margin-bottom: 0%;
    max-height: 500px;
  }
}

.teamwidget-controls {
  margin-top: 97px;

  .x, .y {
    float: left;
    width: 100%;
    @include clearfix;
  }
}

.teamwidget {
  padding: 40px;

  .axes {
    width: 100%;
    height: 100%;

    // x-axis
    &:before {
      content: ' ';
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      left: 0;
      background: $yellow;
      z-index: 11;
    }

    // y-axis
    &:after {
      content: ' ';
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      background: $yellow;
      z-index: 11;

    }
  }

  .axis-label {
    position: absolute;
    background: $yellow;
    padding: 6px;
    text-transform: uppercase;
    z-index: 30;
    display: block;
    border-radius: 3px;
    pointer-events: none;
    font-size: 11px;
    letter-spacing: 1px;
    color: $black;
    line-height: 1;
    white-space: nowrap;
    transition: opacity $speed-fast $ease-in-out;
    opacity: 1;

    &.top {
      transform: translate(-50%, 0);
      bottom: 100%;
      left: 50%;
    }

    &.left {
      transform: translate(0, -50%);
      top: 50%;
      right: 100%;
    }

    &.right {
      transform: translate(0, -50%);
      top: 50%;
      left: 100%;
    }

    &.bottom {
      transform: translate(-50%, 0);
      top: 100%;
      left: 50%;
    }

  }

  .teamwidget-members {
    position: absolute;
    z-index: 13;
    width: 100%;
    height: 100%;
  }

  .teamwidget-member {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  .teamwidget-member-info {
    display: none;
  }

  &.no-transitions .teamwidget-member {
    transition: none !important;
  }
}

.teamwidget-member {
  $width: 60px;
  left: -($width / 2) !important;
  top: -($width / 2) !important;

  &:hover {
    z-index: 140;
  }

  .teamwidget-member-icon-wrapper {
    display: block;

    picture {
      display: block;
      width: $width !important;
      height: $width !important;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
    }

    &:before {
      content: " ";
      background: $yellow;
      height: 96%;
      width: 96%;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover:before {
      transform: translate(-50%, -50%);
      height: 120%;
      width: 120%;
    }
  }

  .teamwidget-member-icon {
    width: 100%;
    height: 100%;
  }

  &.teamwidget-member-active {
    z-index: 20;

    .teamwidget-member-icon-wrapper {
      > * {
        width: 24% !important;
        height: 24% !important;
      }

      &:before {
        transform: translate(-50%, -50%) !important;
      }
    }
  }
}

body:not(.has-loading-state) {
  .teamwidget {
    .teamwidget-member {
      transition: transform $speed-slow $ease-in-out 0s;

      picture {
        transition: transform $speed-fast $ease-in-out 0s;
      }
    }
  }

  .teamwidget-member-icon-wrapper {
    picture {
      transition: width $speed-fast $ease-in-out 0s, height $speed-fast $ease-in-out 0s;
    }

    &:before {
      transition: width $speed-fast ease-out 0s, height $speed-fast ease-out 0s;
    }
  }
}

.teamwidget-select {
  position: relative;
  z-index: 20;
  font-family: $default-font-stack;
  font-size: 16px;
}

body.teamwidget-no-transitions {
  .teamwidget * {
    transition: none !important;
  }
}

.has-updating-teamwidget-x {
  .axis-label.left, .axis-label.right {
    opacity: 0;
  }
}

.has-updating-teamwidget-y {
  .axis-label.top, .axis-label.bottom {
    opacity: 0;
  }
}
