---
title: Studio Fonkel
layout: html
---
<ul class="frontpage">
  {% assign menuItems = site.collections.pages.docs | sort: "menu-weight" %}

  {% for item in menuItems %}
    {% if item.menu-weight %}
      <li class="frontpage-item">
        {% if item.title == 'De Studio' %}
        <div class="frontpage-item-title">{% include misc/logo.svg %}</div>
        {% else %}
        <h2 class="frontpage-item-title">{{ item.title }}</h2>
        {% endif %}
        <h3 class="frontpage-item-subtitle">{{ item.subtitle }}</h3>
        <div class="frontpage-item-inner">
          <a href="{{ item.url }}" class="frontpage-item-link">
            <div class="frontpage-item-link-inner">
              <div class="frontpage-item-background">
              </div>
            </div>
          </a>
        </div>
      </li>
    {% endif %}
  {% endfor %}

   <li class="frontpage-item">
      <h2 class="frontpage-item-title">Contact</h2>
      <h3 class="frontpage-item-subtitle">Ons thuishonk, en de contact gegevens.</h3>
      <div class="frontpage-item-inner">
        <a href="/" class="frontpage-item-link contact">
          <div class="frontpage-item-link-inner">
            <div class="frontpage-item-background">
            </div>
          </div>
        </a>
      </div>
    </li>

</ul>
