<div class="team_widget">
  <div class="axes">
    <section class="team_members">
    {% for team_member in site.data.team %}
      <article class="team_member" id="{{ team_member.key }}">
        <span class="team_member-icon-wrapper">{% picture team_member team_members/{{ team_member.key }}.jpg alt="{{ team_member.name }}" title="{{ team_member.name }}" %}</span>

        <div class="team_member-info">
          <h3 class="team_member-name">{{ team_member.name }}</h3>
          <span class="team_member-bio">Bio: {{ team_member.bio }}</span>
        </div>
      </article>
    {% endfor %}
    </section>
  </div>

  <select id="team_widget_selectX">
    {% for option in site.data.team[0].preferences %}
      {% if forloop.index0 == 0 %}
        <option value="{{ option[0] }}" selected="selected">{{ option[0] }}</option>
      {% else %}
        <option value="{{ option[0] }}">{{ option[0] }}</option>
      {% endif %}
    {% endfor %}
  </select>

  <select id="team_widget_selectY">
    {% for option in site.data.team[0].preferences %}
      {% if forloop.index0 == 1 %}
        <option value="{{ option[0] }}" selected="selected">{{ option[0] }}</option>
      {% else %}
        <option value="{{ option[0] }}">{{ option[0] }}</option>
      {% endif %}
    {% endfor %}
  </select>
</div>