<div class="teamwidget-wrapper">
  <div class="teamwidget">
    <div class="axes">

      <div class="axis-label top">top</div>
      <div class="axis-label left">left</div>
      <div class="axis-label right">right</div>
      <div class="axis-label bottom">bottom</div>

      <section class="teamwidget-members">
      {% for team_member in site.data.team %}
        <article class="teamwidget-member" id="teamwidget-member-member-{{ team_member.key }}">
          <a class="closebutton" href="#">
            <div class="closebutton-bar"></div>
            <div class="closebutton-bar"></div>
          </a>
          <span class="teamwidget-member-icon-wrapper">{% picture teamwidget_member team_members/{{ team_member.key }}.jpg alt="{{ team_member.name }}" title="{{ team_member.name }}" %}</span>

          <div class="teamwidget-member-info">
            <h3 class="teamwidget-member-name">{{ team_member.name }}</h3>
            <span class="teamwidget-member-bio">Bio: {{ team_member.bio }}</span>
          </div>
        </article>
      {% endfor %}
      </section>
    </div>
  </div>

</div>

<div class="teamwidget-controls">
  <div class="teamwidget-controls-inner">
    <div class="x">
      <div class="select-wrapper">
        <select id="teamwidget-selectX" class="teamwidget-select">
          {% for option in site.data.team[0].preferences %}
            {% if forloop.index0 == 0 %}
              <option value="{{ option[0] }}" selected>{{ option[0] }}</option>
            {% else %}
              <option value="{{ option[0] }}">{{ option[0] }}</option>
            {% endif %}
          {% endfor %}
        </select>
        {% include misc/select.svg %}
      </div>

      <div class="teamwidget-textwrapper">
        {% for text in site.data.properties %}
          <div class="teamwidget-text" data-id="{{ text[0] }}">
            <!-- <h4 class="title">{{ text[0] }}</h4> -->
            <p>{{ text[1] }}</p>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="y">
      <div class="select-wrapper">
        <select id="teamwidget-selectY" class="teamwidget-select">
          {% for option in site.data.team[0].preferences %}
            {% if forloop.index0 == 1 %}
              <option value="{{ option[0] }}" selected>{{ option[0] }}</option>
            {% else %}
              <option value="{{ option[0] }}">{{ option[0] }}</option>
            {% endif %}
          {% endfor %}
        </select>
        {% include misc/select.svg %}
      </div>

      <div class="teamwidget-textwrapper">
        {% for text in site.data.properties %}
          <div class="teamwidget-text" data-id="{{ text[0] }}">
            <!-- <h4 class="title">{{ text[0] }}</h4> -->
            <p>{{ text[1] }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

