@charset "utf-8";

@import "breakpoint";
@import "singularitygs";
@import "toolkit";

@import "variables/variables";
@import "variables/colors";
@import "variables/responsive";

@import "base/reset";
@import "base/elements";
@import "base/typography";

@import "animations/fadein";
@import "animations/case-full";
@import "animations/teammember";

@import "layouts/grid";
@import "layouts/layout";
@import "layouts/footer";
@import "layouts/page-full";
@import "layouts/case-full";
@import "layouts/casesoverview";
@import "layouts/about";
@import "layouts/page-body";
@import "layouts/contact";

@import "components/scroll-to-top";
@import "components/buttons";
@import "components/forms";
@import "components/select";
@import "components/frontpage";
@import "components/closebutton";
@import "components/categories";
@import "components/blockquote";
@import "components/pageheader";
@import "components/page-introduction";
@import "components/image";
@import "components/categories-item";
@import "components/page-body";
@import "components/page-title";
@import "components/page-header";
@import "components/case-teaser";
@import "components/menubutton";
@import "components/teamwidget";
@import "components/convinceblock";
@import "components/footer";
@import "components/contact";

#__bs_notify__ {
  left: 0px;
  right: auto !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 5px;
  display: none !important;
}
