@charset "utf-8";

@import "breakpoint";
@import "singularitygs";
@import "toolkit";

@import "variables/variables";
@import "variables/colors";

@import "base/reset";
@import "base/elements";
@import "base/typography";

@import "layouts/layout";
@import "layouts/grid";
@import "layouts/page-full";
@import "layouts/cases-overview";
@import "layouts/about";
@import "layouts/page-body";

@import "components/frontpage";
@import "components/pageheader";
@import "components/page-introduction";
@import "components/scrollimage";
@import "components/tags";
@import "components/page-body";
@import "components/page-title";
@import "components/page-header";
@import "components/case-teaser";
@import "components/menubutton";
@import "components/teamwidget";
@import "components/convinceblock";

#__bs_notify__ {
  // display: none !important;
}
