<div class="contact">

  <div class="top">
  <div class="logo-wrapper">
    {% include misc/logo.svg %}
  </div>

    <a href="#" class="scroll-to-top">{% include misc/top.svg %}</a>
  </div>


  <div class="left">
    <h2 class="title">Contact</h2>
    {% include misc/contact-form.html %}
  </div>


  <div class="right">
    <h2 class="title">Informatie</h2>
    <a class="tel column" href="tel:+31337370019">{% include misc/phone.svg %} +31 33 737 0019</a>
    <a class="email column" href="mailto:info@studiofonkel.nl">{% include misc/mail.svg %} info@studiofonkel.nl</a>
    <div class="column">
      <h3>Adres</h3>
      <p class="block">
        Studio Fonkel BV <br/>
        Arnhemseweg 11 <br/>
        3811 NN Amersfoort <br/>
      </p>
    </div>

    <div class="column">
      <h3>Gegevens</h3>
      <p class="block">
        <strong>KVK:</strong> 60546204 <br/>
        <strong>BTW:</strong> 8539.55.712.B01<br/>
        <strong>IBAN:</strong> NL09RABO0155510681<br/>
      </p>
    </div>

    <div class="column">
      <h3>Parkeren</h3>
      <p class="block">Als je op de stadsring de parkeergarage onder de Plusmarkt op de hoek van Stadsring / Arnhemseweg inrijdt (ga hiervoor net voor de stoplichten op de Stadsring links), dan ben je op 2 minuten lopen verwijderd van ons kantoor.</p>
    </div>

    <div class="column">
      <h3>Links</h3>
      <p class="block">
        <a class="facebook" target="_blank" href="https://facebook.com/studiofonkel">Facebook</a>
        <a class="twitter" target="_blank" href="https://twitter.com/studiofonkel">Twitter</a>
        <a class="linkedin" target="_blank" href="https://www.linkedin.com/company/studio-fonkel">Linkedin</a>
        <a class="behance" target="_blank" href="http://www.behance.net/StudioFonkel">Behance</a>
      </p>
    </div>
  </div>

  <div class="address-wrapper">
  <!-- <img class="map" src="http://api.tiles.mapbox.com/v4/michielkokee.tm2-basemap/pin-m-industrial+482%285.3852164,52.1512535%29/5.3852164,52.1512535,12/400x400@2x.png?access_token=pk.eyJ1IjoibWljaGllbGtva2VlIiwiYSI6Ilk5QUppQXMifQ.A-pV1_4Mx4p_o94_QYGM6Q"> -->
  </div>
</div>
