<ul class="navigation">
  {% assign menuItems = site.collections.pages.docs | sort: "menu-weight" %}

  {% for item in menuItems %}
    {% if item.menu-weight %}
      <li class="navigation-item">
        <h2 class="navigation-item-title">{{ item.title }}</h2>
        <div class="navigation-item-inner">
          <a href="{{ item.url }}" class="navigation-item-link">
            <div class="navigation-item-link-inner">
              <div class="navigation-item-background">
              </div>
            </div>
          </a>
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
