html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

picture {
  img {
    width: 100%;
  }
}

code {
    font-family: monospace;
}

*:focus {
  outline: none !important;
}

*::-moz-focus-inner {
  border: none !important;
}
